.welcome__menu-box-outer {
    background-color: rgb(214, 194, 168);

    height: 18rem !important;
    width: 18rem !important;

    height: 30rem !important;
    width: 30rem !important;

    height: 30rem !important;
    width: 30rem !important;

    margin-right: 3rem;
    margin-top: 2rem;
    position: relative;
    transition: .5s all;
}

.welcome__menu-box-outer:hover {
    transform: scale(1.05);
    background-color: rgb(145, 109, 85);
}

.welcome__menu-name-wrap {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.295);
    height:30%;
    position: absolute;
    bottom: 0;
}

.welcome__menu-box-inner {
    background-color: rgb(255, 255, 255);

    height: 17.2rem !important;
    width: 17.2rem !important;

    height: 28rem !important;
    width: 28rem !important;


    height: 28rem !important;
    width: 28rem !important;

    position: absolute;
    top: .4rem;
    left: .4rem;
    border-top-right-radius: 40%;
    border: 10px white solid;
    overflow: hidden;
}

.welcome__menu-box-img {
    height: 100%;
}

.welcome__menu-box-img-text {
    position: absolute;
    bottom: 0;
    left: 1rem;
    font-size: 3rem;
    color: white;
}

@media (max-width: 550px) {
    .welcome__menu-box-outer {
        background-color: rgb(214, 194, 168);
        height: 16rem !important;
        width: 16rem !important;
        margin-right: 3rem;
        margin-top: 2rem;
        position: relative;
    }
    
    .welcome__menu-box-inner {
        background-color: rgb(255, 255, 255);
        height: 15.2rem !important;
        width: 15.2rem !important;
        position: absolute;
        top: .4rem;
        left: .4rem;
        border-top-right-radius: 40%;
        border: 10px white solid;
        overflow: hidden;
    }
    
    .welcome__menu-box-img {
        height: 100%;
    }
    
    .welcome__menu-box-img-text {
        position: absolute;
        bottom: 0;
        left: 1rem;
        font-size: 3rem;
        color: white;
    }
}