

.recipe {
    display: flex;
    flex-wrap: wrap;
    transition: 3s all;
    background-image: url("https://images.pexels.com/photos/4040540/pexels-photo-4040540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-attachment: fixed;
}

.recipe__input {
    width: 100% !important;
    border: none;
    box-shadow: 0 0 1px rgb(141, 108, 58);
    padding: .5rem;
    
}

.recipe__inputs {
    background-color: rgb(224, 214, 201);
    padding: 1.5rem;
    position: fixed;
    z-index: 50;
}

.recipe__input-wrap-inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 100%;
    align-content: center;
}

.check {
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
    opacity: 0.5;
    transition: 1s all;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: rgb(145, 109, 85);
}

.phantom-input {
    height:8.6rem;
}


@media (max-width: 550px) {
    .recipe {
        height: 150vh;
    }

    .recipe__input {
        width: 90% !important;

    }

    .recipe__input-wrap-inner {
        display: block;
        flex-wrap: wrap;
        padding-right: 0;

    }

    .phantom-input {
        height:12rem;
    }

    .check {
        width: auto;
        height: auto;
        font-size: .5rem;
    }

    .recipe__input {
        padding: .1rem!important;
    }

    .recipe__inputs {
        padding: 1rem 0 1rem 0;
    }
}