.welcome {
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    height: 100vh;
}

.welcome__title {
    font-size: 5rem;
    z-index: 5;
    position: absolute;
    bottom: 0.1rem;
    left: 0.1rem;
}

.welcome__title-box {
    text-align: center;
    padding: 1rem;
    margin-left: 5rem;
    height: 5rem;
    top: 0;
    position: relative;
}

.welcome__title-box-bottom {
    width: 95%;
    height: 5rem;
    margin: 2rem 3rem;
}

.welcome__description {
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    background-color: white;
    padding: 0 .5rem;
    z-index: 1;
    bottom: -.5rem;
    left: 0;
}

.welcome__title-wrap {
    position: relative;
}

.welcome__description-bottom {
    color: black;
    font-weight: bold;
    bottom: 0;
    right: 0;
    text-align: right;
}

.welcome__menu-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

@media (max-width: 1588px) {
    .welcome__menu-box-outer {
        height: 20rem !important;
        width: 20rem !important;
    }
    
    .welcome__menu-box-inner {  
        height: 18rem !important;
        width: 18rem !important;
    }
}

@media (max-width: 1086px) {
    .welcome__menu-box-outer {
        height: 16rem !important;
        width: 16rem !important;
    }
    
    .welcome__menu-box-inner {  
        height: 14rem !important;
        width: 14rem !important;
    }
}

@media (max-width: 900px) {
    .welcome__menu-box-outer {
        height: 12rem !important;
        width: 12rem !important;
    }
    
    .welcome__menu-box-inner {  
        height: 10rem !important;
        width: 10rem !important;
    }

    .welcome__menu-box-img-text {
        position: absolute;
        bottom: 0;
        left: 1rem;
        font-size: 2rem;
        color: white;
    }
}

@media (max-width: 550px) {
    .welcome__menu-box-outer {
        height: 16rem !important;
        width: 16rem !important;
        margin: .2rem 0 2rem 0 !important;
    }
    
    .welcome__menu-box-inner {  
        height: 14rem !important;
        width: 14rem !important;
    }

    .welcome__menu-box-img-text {
        position: absolute;
        bottom: 0;
        left: 1rem;
        font-size: 2rem;
        color: white;
    }

    .welcome__title-box {
        padding-left: 1rem!important;
        width:100%;
        margin: 2rem 0;
    }
    
    .welcome__title-box-bottom {
        width:100%;
        margin: 2rem 0;
        padding-left: 1rem!important;
    }
    
    .welcome__description {
        color: rgb(211, 165, 123);
    }
    
    .welcome__description-bottom {
        color: rgb(211, 165, 123);
        position: absolute;
        bottom: 1rem;
        right: 0;
        font-size: .8rem;
        text-align: center;
    }
    .navbar__banner-img {
        margin-top: 0 !important;
    }
}



