.footer__box {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.664);
    position: relative;
}

.footer__text {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-weight: bold;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 550px) {
      
    .footer {
        position: static;
    }
}